.col-md-5.popup{
    position: absolute;
    z-index: 9999;
    width: 580px;
    margin-left: -15px;
    margin-top: -8px;
}
.singleitem a:hover{
    background-color: #00c0ef;
}
#search{
    height: 45px;
    width: 480px;
    border: none;
    background-color: #EAEAEA;
    color: #555555;
    padding-left: 20px;
}
.search-btn{
    height: 45px;
    border: none;
    width: 65px;
    background-color: #7AA307;
    color: white;
}
